@using BLL.Extensions
@using Website.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @{
        var user = (User)System.Web.HttpContext.Current.Session["currentUser"];
    }

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @{
                if (user == null || user.UserRole == (int)Enums.UserRole.Administrator)
                {
                    @Html.ActionLink("Cashier System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Cashier System", "List", "Orders", new { area = "" }, new { @class = "navbar-brand" })
                }
            }
        </div>
        <div class="navbar-collapse collapse">

            @{
                if (user != null && user.UserRole == (int) Enums.UserRole.Administrator)
                {
                    <text>
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Orders", "List", "Orders")</li>
                            <li>@Html.ActionLink("Employees", "Index", "Users")</li>
                            <li>@Html.ActionLink("StockItem", "Index", "Stock")</li>
                        </ul>
                    </text>
                }
            }

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/main")
@RenderSection("scripts", required: false)
</body>
</html>
