@using BLL.Extensions
@using Website.Models
@model int?

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-4">
            <h3>Alcohol</h3>
            @{
                var stock = (List<StockItem>)ViewBag.stock;
                var alcohol = stock.Where(w => w.CategoryId == (int)Enums.DrinkCategory.Alcohol);
                foreach (var order in alcohol)
                {
            <text>
                <button type="button" onclick="addOrUpdateOrder('@order.Name', @order.Price, @order.StockItemId)" class="btn btn-primary btn-add-order">@order.Name</button>
            </text>
                }
            }

        </div>
        <div class="col-lg-4">
            <h3>Non-alcohol</h3>
            @{
                var nonAlcohol = stock.Where(w => w.CategoryId == (int)Enums.DrinkCategory.NonAlcohol);
                foreach (var order in nonAlcohol)
                {
            <text>
                <button type="button" onclick="addOrUpdateOrder('@order.Name', @order.Price, @order.StockItemId)" class="btn btn-primary btn-add-order">@order.Name</button>
            </text>
                }
            }

        </div>
        <div class="col-lg-4">

            <br/>

            @Html.Label("Table " + Model, new { @style = " font-weight: bold; font-size: 35px; float:right"})

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Total</th>
                    <th id="totalQuantity">0</th>
                    <th id="totalPrice">0</th>
                </tr>
                <tbody/>
            </table>
            <hr/>
            <button type="button" onclick="createOrUpdateOrder(@stock.Count, 0, @((int) Enums.Scenario.Create), @Model);" class="btn btn-success" style="width: 45%; margin: 7px;">Create</button>
            <button type="button" onclick="confirmOrder(@stock.Count, 0, @((int) Enums.Scenario.Create), @Model);" class="btn btn-success" style="width: 45%; margin: 7px;">Confirm</button>

            <hr/>

            <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>SubTotal</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody id="orderListDetail"></tbody>
            </table>
            @Html.Label("Please make sure the order isn't empty!", new { @class = "field-validation-error", @style = " color: red", hidden = true, id = "errOrderEmpty" })

        </div>
    </div>
                }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
