@model List<Website.Models.User>

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-lg-8">
        <div id="errMsgsId" class="errMsgs"></div>
        <div id="errMsgsPasscode" class="errMsgs"></div>
        <h2 style="margin-left: 8px;">Login</h2>
        @{
            foreach (var user in Model)
            {
                <text><input type="button" id='@user.FirstName' value='@user.FirstName' onclick="setLoginName('@user.FirstName');" class="btn btn-info btn-loginName" /></text>
            }

        }

        @*<h2 id="selectedLogin"></h2>*@
    </div>


    <div class="col-lg-4">

    @Html.ValidationMessage("MessageError")

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m[0].FirstName, null, new { id = "hdnLoginField", hidden = true })
            @Html.TextBoxFor(m => m[0].Password, null, new { id = "passcodeBox", @class = "input-sm", type = "password" })
            <button class="btn btn-submit-passCode" type="submit">Login</button>
        }

    <br />
    @*<form id="loginForm">
    <fieldset>*@


        <div class="btn-group">
            <input type="button" onclick="setPasscode(7);" value="7" class="btn-passCode btn btn-primary" />
            <input type="button" onclick="setPasscode(8);" value="8" class="btn-passCode btn btn-danger" />
            <input type="button" onclick="setPasscode(9);" value="9" class="btn-passCode btn btn-primary" />
        </div>
        <div class="btn-group">
            <input type="button" onclick="setPasscode(4);" value="4" class="btn-passCode btn btn-danger" />
            <input type="button" onclick="setPasscode(5);" value="5" class="btn-passCode btn btn-primary" />
            <input type="button" onclick="setPasscode(6);" value="6" class="btn-passCode btn btn-danger" />
        </div>
        <div class="btn-group">
            <input type="button" onclick="setPasscode(1);" value="1" class="btn-passCode btn btn-primary" />
            <input type="button" onclick="setPasscode(2);" value="2" class="btn-passCode btn btn-danger" />
            <input type="button" onclick="setPasscode(3);" value="3" class="btn-passCode btn btn-primary" />
        </div>
        <div class="btn-group">
            @*<input disabled id="passcodeReset" type="button" onclick="resetPasscode();" value="Reset" class="btn-passCode btn btn-danger" />*@
                <input type="button" onclick="setPasscode(0);" value="0" class="btn-passCode btn btn-primary" />
                @*<input disabled id="passcodeC" type="button" onclick="removeLastCharPasscode();" value="C" class="btn-passCode btn btn-danger" />*@
            </div>


        @*</fieldset>
    </form>*@

    </div>
</div>

