@model List<Website.Models.User>

@{
    ViewBag.Title = "Home Page";
}



<div id="errMsgsId" class="errMsgs"></div>
<div id="errMsgsPasscode" class="errMsgs"></div>
@{
    foreach (var user in Model)
    {
        <text><input type="button" id='@user.FirstName' value='@user.FirstName' onclick="setLoginName('@user.FirstName');" class="btn btn-info btn-loginName" /></text>
    }

}


@Html.ValidationMessage("MessageError")



<div id="loginForm">
    <fieldset style="margin: 0 60px;">

        <h2>Please fill in your password</h2>
        <br />
        <div style="margin-left: 55px;">
            <div class="btn-group">
                <input type="button" onclick="setPasscode(7);" value="7" class="btn-passCode btn btn-primary" />
                <input type="button" onclick="setPasscode(8);" value="8" class="btn-passCode btn btn-danger" />
                <input type="button" onclick="setPasscode(9);" value="9" class="btn-passCode btn btn-primary" />
            </div>
            <div class="btn-group">
                <input type="button" onclick="setPasscode(4);" value="4" class="btn-passCode btn btn-danger" />
                <input type="button" onclick="setPasscode(5);" value="5" class="btn-passCode btn btn-primary" />
                <input type="button" onclick="setPasscode(6);" value="6" class="btn-passCode btn btn-danger" />
            </div>
            <div class="btn-group">
                <input type="button" onclick="setPasscode(1);" value="1" class="btn-passCode btn btn-primary" />
                <input type="button" onclick="setPasscode(2);" value="2" class="btn-passCode btn btn-danger" />
                <input type="button" onclick="setPasscode(3);" value="3" class="btn-passCode btn btn-primary" />
            </div>
            <div class="btn-group">
                <input disabled id="passcodeReset" type="button" onclick="resetPasscode();" value="Reset" class="btn-passCode btn btn-danger" />
                <input type="button" onclick="setPasscode(0);" value="0" class="btn-passCode btn btn-primary" />
                <input disabled id="passcodeC" type="button" onclick="removeLastCharPasscode();" value="C" class="btn-passCode btn btn-danger" />
            </div>

            @*@using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {*@
            @Html.TextBoxFor(m => m[0].FirstName, null, new { id = "hdnLoginField", hidden = true })
            @Html.TextBoxFor(m => m[0].Password, null, new { id = "passcodeBox", @class = "input-sm", type = "password", hidden = true })
            <button class="btn btn-submit-passCode" onclick="LoginPost();">Login</button>
            @*}*@
        </div>

    </fieldset>
</div>


<script>

    function LoginPost() {
        var username = $('#hdnLoginField').val();
        var password = $('#passcodeBox').val();

        $.post('@Url.Action("Login")', { username: username, password: password }, function (data) {
            $('body').html(data);
            //location.reload();
        });
    }

</script>

